* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  max-width: 1220px;
  background-color: #f6f6f6;
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

article {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 1px 10px #c8c8c8;
  border-radius: 10px;
  margin-bottom: 30px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div.sorting {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

select {
  margin-left: 5px;
}

option {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #686868;
}

img.avatar {
  border-radius: 100%;
  background-image: url(./anonymous.png);
  background-size: 150px 150px;
  background-position: center;
  background-repeat: no-repeat;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

li img {
  margin-right: 10px;
}

a {
  text-decoration: none;
  vertical-align: 5px;
  color: #0096ff;
  display: inline-block;
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

li span {
  vertical-align: 10px;
}

div.like-dislike {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

span.number {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  vertical-align: 5px;
}

img.like-icon,
img.dislike-icon {
  transition: 0.3s;
  cursor: pointer;
}

img.like-icon:hover,
img.dislike-icon:hover {
  opacity: 0.5;
}
